aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.7.2
async-timeout==5.0.1
attrs==25.4.0
bleach==6.1.0
certifi==2026.1.4
charset-normalizer==3.4.4
contourpy==1.2.0
cycler==0.12.1
distlib==0.3.8
dj-database-url==2.1.0
Django==4.2.11
django-annoying==0.10.6
django-cors-headers==4.9.0
django-filter==23.3
django-post-office==3.8.0
django-viewflow==2.0.0b8
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
edge-tts==7.2.8
et_xmlfile==2.0.0
filelock==3.14.0
fonttools==4.45.1
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.11
kiwisolver==1.4.5
lxml==6.0.2
matplotlib==3.8.2
multidict==6.7.1
numpy==1.26.2
openpyxl==3.1.5
packaging==23.2
pandas==2.3.3
Pillow==10.1.0
platformdirs==4.2.2
propcache==0.4.1
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.11.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-docx==1.2.0
python-pptx==1.0.2
pytz==2024.1
reportlab==4.4.9
requests==2.32.5
six==1.16.0
sqlparse==0.4.4
tabulate==0.10.0
tinycss2==1.2.1
twilio==9.10.1
typing_extensions==4.15.0
tzdata==2023.3
urllib3==2.6.3
virtualenv==20.26.2
webencodings==0.5.1
whitenoise==6.12.0
xlsxwriter==3.2.9
yarl==1.22.0
